<h2><%=current_user.email%>님의 프로필</h2>
<a href = "/project/project">프로젝트가기</a><br><br>
<%if !current_user.profile%>
<a href = "/project/create_profile">프로필 생성</a>
<br>
<%else%>
    <% @profile.each do |p|%>
        <%if p.user_id == current_user.id%>
            이름 : <%=p.name%><br>
            ----------------------------<br>
            <form action = "/project/comment_write" method ="post">
                <input type ="hidden" name ="user_id" value ="<%=current_user.id%>">
                <input type ="hidden" name ="profile_id" value ="<%=p.id%>">
                <input type ="text" name="contents">
                <button type ="submit">댓글달기</button>
            </form><br>
            댓글<br>
            <% p.comments.each do |c|%>
                <% if c.comment_id == nil%>
                    <br>-> <%=c.contents%> 
                    <form action = "/project/comment_write" method ="post">
                        <input type ="hidden" name ="user_id" value ="<%=current_user.id%>">
                        <input type ="hidden" name ="profile_id" value ="<%=p.id%>">
                        <input type ="hidden" name ="comment_id" value ="<%=c.id%>">
                        <input type ="text" name="contents">
                        <button type ="submit">답글달기</button>
                    </form>
                <%else%>
                    &nbsp; => <%=c.contents%><br>
                <%end%>
            <%end%>
        <%end%>
    <%end%>
<%end%>